body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
table {
  border-collapse: collapse;
}
td.key-element * {
  height: 2em;
  padding: 0;
  text-align: center;
}
td.key-element {
  border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
}
div.key-button {
  display: inline;
  padding: 0.5em;
  margin: 0.1em;
  background-color: #c0c0c0;
  border-color: #fff;
  border-width: 2px;
  text-align: center;
  text-transform: uppercase;
}
div.key-button.selected {
  color: #0ff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li div {
  height: 1.5em;
  width: 5em;
  padding: 0.2em;
  text-align: center;
}
ul li div.fresh {
  background-color: #faebd7;
  font-weight: bold;
}
