body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

  button.key-button
    margin 0.2em
    &.selected
      color darkgreen
      border chartreuse
      border-width 0.1em
    &.isbusy
      background-color hotpink

div#results-list-container
  margin-top 2em
  ul
    list-style-type none
    margin 0
    padding 0
    li
      div.item-container
        overflow hidden
        margin 0.2em
