body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body button.key-button {
  margin: 0.2em;
}
body button.key-button.selected {
  color: #006400;
  border: #7fff00;
  border-width: 0.1em;
}
body button.key-button.isbusy {
  background-color: #ff69b4;
}
div#results-list-container {
  margin-top: 2em;
}
div#results-list-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div#results-list-container ul li div.item-container {
  overflow: hidden;
  margin: 0.2em;
}
