body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div.key-button {
  display: inline;
  padding: 0.5em;
  margin: 0.1em;
  background-color: #c0c0c0;
  border-color: #fff;
  border-width: 2px;
  text-align: center;
  text-transform: uppercase;
}
div.key-button.selected {
  color: #0ff;
}
div.key-button.isbusy {
  background-color: #ff69b4;
}
div#results-list-container {
  margin-top: 2em;
}
div#results-list-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div#results-list-container ul li div {
  height: 1.5em;
  width: 5em;
  padding: 0.2em;
  text-align: center;
}
div#results-list-container ul li div.fresh {
  background-color: #faebd7;
  font-weight: bold;
}
